.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 95%;
    font-family: 'Roboto Mono', monospace;
}
.form-row {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    
}
.form-row > label {
    flex: 1;
    font-size: 30px;
    margin: 5px;
}

.form-row > input {
    flex: 6;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border-bottom: 5px solid black;
    font-size: 30px;
}
input[type="text"]:disabled {
    background-color: ;
}

.buttons {
    display: flex;
    justify-content: center;
}
.buttons button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: solid 2px black;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    width: 150px;
    margin: 5px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {background-color: lightblue; }
    .app {
        width: 65%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{background-color: yellow;}
    .app {
        width: 65%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {background-color: orange;}
    .app {
        width: 768px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {background-color: lightseagreen}
    .app {
        width: 992px;
    }
}
