.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}
.form-row {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 10px 0;
    
}
.form-row > label {
    font-size: 30px;
    margin: 5px;
}

.form-row > input {
    flex-grow: 1;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border-bottom: 5px solid black;
    font-size: 30px;
}

#loading {
    display: none;
    width: 100%;
    height: 20px;
    background-color: red; 
}
#loading-inside {
    height: 100%;
    width: 0%;
    background-color: yellow;
}

.buttons {
    display: flex;
    justify-content: center;
}
.buttons button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: solid 2px black;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    width: 150px;
    margin: 5px;
}

#answer {
    display: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {background-color: lightblue; }
    .app {
        width: 100%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{background-color: salmon;}
    .app {
        width: 85%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {background-color: orange;}
    .app {
        width: 768px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {background-color: lightseagreen}
    .app {
        width: 992px;
    }
}
